<form #marathonForm="ngForm" class="card" (submit)="save()">
  <div class="card-header">
    <h5 class="d-inline-block">Marathon Form</h5>
    <button class="btn btn-primary float-right btn-sm" (click)="back()">
      <i class="fa fa-chevron-left"></i>
      Back
    </button>
  </div>
  <div class="card-body">
    <div class="row form-group">
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          Full Name
        </label>
        <input type="text" class="form-control" name="full_Name" [(ngModel)]="form.full_Name" required
          placeholder="Full Name...">
      </div>
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          Date Of Birth
        </label>
        <input type="text" class="form-control" name="date_Of_Birth" [(ngModel)]="form.date_Of_Birth" bsDatepicker
          required placeholder="Date Of Birth...">
      </div>
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          Gender
        </label><br>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="gender_male" name="gender" [(ngModel)]="form.gender" class="custom-control-input"
            [value]="true">
          <label class="custom-control-label" for="gender_male">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="gender_female" name="gender" [(ngModel)]="form.gender" class="custom-control-input"
            [value]="false">
          <label class="custom-control-label" for="gender_female">Female</label>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          Address
        </label>
        <input type="text" class="form-control" name="address" [(ngModel)]="form.address" required
          placeholder="Address...">
      </div>
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          Phone Number
        </label>
        <input type="text" class="form-control" name="phone_Number" [(ngModel)]="form.phone_Number" required
          placeholder="Phone Number...">
      </div>
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          Email Address
        </label>
        <input type="text" class="form-control" name="email_Address" [(ngModel)]="form.email_Address" required
          placeholder="Email Address...">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          Distance
        </label>
        <input type="text" class="form-control" name="distance" [(ngModel)]="form.distance" required
          placeholder="Distance...">
      </div>
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          From Time
        </label>
        <timepicker [(ngModel)]="form.from_Time" name="from_Time" [showSpinners]="false" [showMeridian]="false"
          required>
        </timepicker>
      </div>
      <div class="col-12 col-lg-4">
        <label class="badge badge-warning">
          To Time
        </label>
        <timepicker [(ngModel)]="form.to_Time" name="to_Time" [showSpinners]="false" [showMeridian]="false" required>
        </timepicker>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-success" type="submit" [disabled]="marathonForm.invalid">
      <i class="fa fa-save"></i>
      Save
    </button>
  </div>
</form>