<div class="card">
  <div class="card-header">
    <h5>Marathon Form</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="bg-primary font-weight-bold">
          <tr>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Distance</th>
            <th>From Time</th>
            <th>To Time</th>
            <th>Email Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of forms">
            <td>{{item.full_Name}}</td>
            <td>{{item.gender ? 'Male' : 'Female'}}</td>
            <td>{{item.date_Of_Birth | date:'yyyy/MM/dd'}}</td>
            <td>{{item.distance}}</td>
            <td>{{item.from_Time}}</td>
            <td>{{item.to_Time}}</td>
            <td>{{item.email_Address}}</td>
            <td>
              <a [routerLink]="['/demo/marathon-form/edit', item.record_ID]" class="btn btn-primary">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>